body{
    margin: 0;
    font-family: "Montserrat", serif;
}

header{
    background-image: url(/images/Header\ Image\ 2.jpg);
    background-size: cover;
    height: 900px;
}

header p{
    margin: 0;
    color: white;
    text-align: center;
}

header p:nth-child(1)
{
    transform: translateY(300px);
    font-size: 50px;
}

header p:nth-child(2)
{
    text-transform: uppercase;
    transform: translateY(350px);
    font-size: 60px;
}

#hi{
    font-size: 60px;
}

#section-one div{
    background-color: black;
    height: 400px;
}

#section-one div h1{
    margin: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(120px);
    font-size: 70px;
}

#you{
    font-size: 120px;
}

#section-two{
    background-color: #ffa500;
    height: 750px;
}

#pablet-one{
    background-color: whitesmoke;
    color: black;
    height: 500px;
    width: 350px;
    border-radius: 2%;
    transform: translate(550px, 130px);
    display: inline-block;
}

#pablet-one img{
    width: 350px;
    height: 200px;
    border-radius: 2% 2% 0 0;
    display: block;
}

#pablet-two{
    background-color: whitesmoke;
    color: black;
    height: 500px;
    width: 350px;
    border-radius: 2%;
    transform: translate(650px, 130px);
    display: inline-block;
}

#pablet-two img{
    width: 350px;
    height: 200px;
    border-radius: 2% 2% 0 0;
    display: block;
}

#section-two h3{
    font-weight: 650;
    margin: 0;
    padding: 30px 20px 5px 30px;
}

#section-two p{
    padding: 15px 20px 20px 30px;
    font-size: 13px;
    font-weight: 400;
    color: #5e5e5c;
    margin: 0;
    line-height: 1.35;
}

#section-three h2, #section-three p{
    margin: 0;
    color: white;
    margin: 0;
}

#section-three h2{
    font-size: 40px;
    padding: 40px 0 0 0;
}

#section-three p{
    font-size: 15px;
    line-height: 30px;
    padding-top: 50px;
}

#section-three #contact{
    background-color: #004edf;
    display: inline-block;
    width: 600px;
    height: 400px;
    padding-left: 175px;
    padding-right: 175px;
}

#section-three #about{
    background-color: #8500bf;
    display: inline-block;
    width: 600px;
    height: 400px;
    padding-left: 175px;
    padding-right: 177px;
    margin-left: -4px;
}

#footer{
    background-color: black;
}

#footer p{
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 50px 0 50px 0;
}


